[submodule "src/pyyaml"]
	path = src/pyyaml
	url = https://github.com/yaml/pyyaml
[submodule "rich"]
	path = rich
	url = https://github.com/Textualize/rich
[submodule "pyyaml"]
	path = pyyaml
	url = https://github.com/yaml/pyyaml
[submodule "src/modules/gum"]
	path = src/modules/gum
	url = https://github.com/charmbracelet/gum
